<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- contacto -->
    <div class="footer-copyright text-center py-3"> Práctica Angular 
     | <a href="mailto:1987.jmrg@gmail.com" title="Enviar correo al administrador"> José Rodríguez</a>
    </div>
    <!-- contacto -->
  
  </footer>
  <!-- Footer -->