<app-cabecera></app-cabecera>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
        <app-pie></app-pie>
    </div>
</div>
</div>
  